@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0; font-size:12px; font-family:"SourceHanSansSC-Light","Microsoft Yahei",微软雅黑,"Helvetica Neue",Arial,sans-serif; width:100%; color:#757575;}
html,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,img{padding:0; margin:0;}
img{vertical-align:top; border:none; vertical-align: baseline;}
button,select,textarea{outline:none}
figure,form,fieldset{border:0;margin:0;padding:0}
textarea{resize:none}
ul,li{list-style-type:none;}
textarea:focus,input:focus{outline:none;}
table{border-collapse:collapse; border-spacing:0; }
a{color:#232323; text-decoration:none;}
a:hover{color:#fff;text-decoration:none;}
cite,em,i,big{font-style:normal;}
.c:after {content:""; display:block; height:0; clear:both;}
.c{*zoom:1;}
b,strong{font-weight:normal;}
span{display:inline-block;}
.hide{display:none}
.w{width:1190px; margin:0px auto;}
.fl{float:left;}
.fr{float:right;}

.w1200{width:1200px; margin: 0 auto;}

/*--------------index--------------*/
.navbar-header img{margin:20px 160px 0 0;}
.navbar-left{margin-top:20px;}
.form-group input{width:138px; float:left;}
.navbar .btn{width:40px; height:32px; background:#152c4e; border-radius:0; float:left;}
.navbar .btn img{margin:4px;}
.banner{width:100%;}
.banner img{width:100%; }

/*导航*/
#proinfo li a:hover{color:#2f5dc3;}
.prosmore{width:110px; position:absolute; border-top:2px solid #152c4e; z-index:20;}
.prosmore span{height:37px; display:inline-block; width:110px; text-align:center; line-height:37px; font-size:13px;
    float:left; background:#f8f8f8; transition-property:all; transition-duration:1s;}
.prosmore span:hover{background:#152c4e; color:white;}
.prosmore span a{color: none ;}
.prosmore span a:hover{color: white !important;}
.astype{position:absolute;}



/*******左右移动图片************/

.banner{
    width:100%;
    height: 499px;
    overflow: hidden;
    position: relative;

}
.banner img{width:100%;height: 100%;}
.banner > ul {
    display: none;
    height: 450px;
    position: absolute;
    top:0;
    left: 0;
}

.banner > ul > li  {
    float: left;
    height: 450px;
}

.banner > ul > li > a {
    display: block;
    font-size: 200px;
    line-height: 500px;
    font-weight: bold;
    height: 500px;
}


.left-btn,.right-btn {/*******左右移动图片************/
    width: 61px;
    height: 61px;
    position: absolute;
    top: 45%;
    right: 30px;
    background:url(../img/right-1.png);
    cursor: pointer;
}

.left-btn {
    left: 30px;
    background:url(../img/left-1.png);
}

.img-btn-list {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
}

.img-btn-list > span  {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 12px;
    margin: 0 5px;
    background:white;
    cursor: pointer;
}

.img-btn-list > span.current {
    background:#2f5dc3;
}
.font p{font-size:24px; color:#152c4e; margin:35px 0 0 0; line-height:20px;}
.font h6{color:#c7c7c7; font-size:18px; margin:10px 0 0 0;}
.font h6 i{width:40px; height:1px; background:#c7c7c7; margin:6px 20px; display:inline-block;}
.rowSpan a{width:170px; height:160px; line-height:0; float:left; margin:40px 0; display:inline-block;  transition-duration:0.5s; -webkit-transition-timing-function:linear; transition-timing-function:linear;}
.rowSpan h5{color:#152c4e; font-size:16px; font-weight:bold; line-height:37px; margin:100px 0 0 0;}
.rowSpan b{color:#ddd; font-size:10px; margin:0; line-height:0; font-weight:normal;}
.rowSpan a:nth-child(2){background:url(../img/business.png) no-repeat;}
.rowSpan a:nth-child(1){background:url(../img/business.png) -171px top no-repeat;}
.rowSpan a:nth-child(3){background:url(../img/business.png) -342px top no-repeat;}
.rowSpan a:nth-child(4){background:url(../img/business.png) -513px top no-repeat;}
.rowSpan a:nth-child(5){background:url(../img/business.png) -684px top no-repeat;}
.rowSpan a:nth-child(6){background:url(../img/business.png) -855px top no-repeat;}
.rowSpan a:nth-child(7){background:url(../img/business.png) -1026px top no-repeat;}
.business .wrap{width: 340px;margin: auto;}
.rowSpan a:hover{text-decoration:none; box-shadow: 3px 0px 12px 0px #ececec; -webkit-transform: scale(1.1);
    -moz-transform:scale(1.1); transform:scale(1.1);}

/*--关于--*/
.aboutUs,.information{width:100%; background:#fafafa; display:inline-block;}
.aboutUs dl{margin:35px auto; width:600px; float:left;}
.aboutUs dt{font-size:18px; color:#333; font-weight:normal; line-height:95px;}
.aboutUs dd{font-size:14px;color:#808080;line-height:30px;width: 68%;}
.aboutUs dd input{font-size:14px; color:#999; background:none; width:138px; line-height:36px; border:#e5e5e5 1px solid; margin-top:30px; transition-property: all; transition-duration: 1s;}
.aboutUs dd input:hover{background:#2f5dc3; color:white;}

.aboutUs img{ float:right; margin-top:40px;width: 4.6rem;height: 2.8rem;}
.aboutUs ul{height:180px; box-shadow: 0 3px 12px -5px #c4bebe; margin:40px auto -84px auto; background:#fff;}
.aboutUs ul li{float:left;}
.aboutUs ul li:nth-child(odd){width:298px; height:180px; text-align:center; padding-top:55px;}
.aboutUs ul li:nth-child(even){width:1px; height:60px; background:#ebebeb; margin-top:60px;}
.aboutUs ul li i{font-size:50px; color:#555;}
.aboutUs ul li sup{margin:-50px -85px 0 0; display:block; color:#999;}
.aboutUs ul li:nth-child(3) sup{margin-right:-68px;}
.aboutUs ul li p{padding-top:35px; color:#999; font-size:16px;}

/*--展示--*/
.show{margin-top:100px;}
.show .showone{display:inline-block;}
.show .row{margin-bottom:30px;}
.showone div{width:290px; height:250px; text-align:center;}
.showone div a{text-decoration:none;}
.showone div dl{margin-top:20px;}
.showone div dl dd{color:black; font-size:16px; text-align:left; padding:0 20px; margin-top:15px;}
.showone div dl dd em{width:41px; font-size:14px; line-height:19px; text-align:center; background:#5192f3; border-radius:5px; color:white;}
.showone div:hover{box-shadow: 3px 0px 12px 0px #ececec;}

.show .more{text-align:center; margin-bottom:40px;}
.show .more input{font-size:14px; color:#999; background:none; width:138px; line-height:36px; border:#e5e5e5 1px solid; transition-property: all; transition-duration: 1s;}
.show .more input:hover{background:#2f5dc3; color:white;}

/*--资讯--*/
.new span{margin:40px 0 50px 0;}
.new .col-lg-5{background:#fff; padding:40px;}
.new .col-lg-6{margin-left:80px; }
.new .col-lg-5 h6{font-size:24px; color:#999; margin:0;}
.new .col-lg-5 h5{font-size:18px; color:#333; margin:20px 0;}
.new .col-lg-5 p{font-size:14px; color:#999; line-height:26px; margin:0;}
.new .col-lg-5 img{margin-top:30px;}
.new dl{width:100%; background:#fff; padding:13px 10px; margin-bottom:20px; transition-duration:0.4s; -webkit-transition-timing-function:linear; transition-timing-function:linear;}
.new dl:hover{cursor:pointer; -webkit-transform: scale(1.1);-moz-transform:scale(1.1); transform:scale(1.1);}
.new dl img{margin-right:20px;}
.new dl dt{font-size:16px; color:#333; line-height:38px; margin-right:10px; font-weight:normal;}
.new dl dd{font-size:12px; color:#999; line-height:26px; margin-bottom:10px;}
.new dl dt i{color:#999;}
.new input{width:140px; line-height:40px; font-size:14px; margin-top:8px; color:#152c4e; background:#fff; border:none; -webkit-transition:1s; -moz-transition:1s; transition:1s;}
.new input:hover{background:#2f5dc3; color:white;}
/*底部轮播*/
.group{height:300px;}
.group .grouphead{height:300px; padding-top:50px;}
.group .grouphead dt{float:left; margin:0 20px 0 20px;}
.group .grouphead img{width:140px;height: 140px;border-radius: 50%;}
.group .grouphead h3{color:#333;}
.group .grouphead dd:nth-child(3){color:#999;}
.group .grouphead dd:nth-child(4){color:#999; margin-top:10px;}

/*-------轮播---------*/
.imgbox{height:400px; position:relative; overflow:hidden; z-index:10;}
.imgbox ul{width:100%;height:100%; position:relative;}
.imgbox ul li{width:100%; height:100%; position:absolute; top:0; left:0; z-index:2;}
.prev,.next{position:relative; width:24px; height:47px; margin-top:10%;  }
.prev{background:url(../img/left-arrows.png) no-repeat;  right:10px;}
.next{background:url(../img/right-arrows.png) no-repeat; left:10px;}



/*版权*/
.copyright{height:340px; background:#152031; clear:both;}
.copyright .copyrone{height:70px; background:#25344a;}
.copyrone dl{margin:10px 0;}
.copyrone dl img{width:150px;}
.copyrone dl dd{color:#808893;}
.copyrone ul{color:#d7d9dc; margin:10px;}
.copyrone ul li{float:left; font-size:16px; margin-left:60px;}
.copyrone ul li img{margin-right:9px;}
.copybuttom{height:200px;}
.copyul li{float:left; margin-top:20px;}
.copyul li a{color:white; font-size:18px; }
.copyul li a:hover{text-decoration:none;}
.copyul dl{margin-top:13px;}
.copyul dl dt{width:90px; height:90px; background:white; margin:10px 0 0 70px;background: url('../imgs/qinshihuang_QR.jpg');background-size:100% 100%; }
.copyul dl dd{margin:10px 0 0 80px; color:white;}
.copyula a{color:#ccc; line-height:30px;}
.copyula a:hover{text-decoration:none; color:white;}
.base{height:50px; border-top:1px solid #353e4d; clear:both;}
.base p{color:#ccc; font-size:13px;}
.base p:nth-child(2){margin-right:20px;}


/*-----关于-----*/
.about{height:319px; width:100%;}
.about img{width:100%;}
.leftSidebar{width:240px; background:#264ea7; color:white; position:absolute; top:34%;}
.leftSidebar .list-group{margin:0 20px;}
.list-group-item h3{font-weight:bold;}
.synopsis{padding:30px 20px; background:#2f5dc3; margin-top:60px; font-size:14px;}
.synopsis ul li{height:40px; padding-left:10px;}
.synopsis ul li a{color:#fff;}
.synopsis ul li:hover{background:#264ea7; border:none;}

/*----内容----*/
.company{width:920px;float:right; padding:0 0 170px 0;}
.company h4{color:#444; margin-top:90px;}
.company span{display:inline-block; line-height:30px; font-size:12px;}
.company img{width: 9.2rem;height: 5rem;}
#hotSell{float: none;margin: auto;height: 350px;}

/*---------产品中心-------*/
.product{padding-top:20px;}
.product dl{width:292px; height:240px; border:1px solid #fafafa; margin-left:12px;}
.product dl a{color:black; text-decoration:none;}
.product dl dt{text-align:center;}
.product dl dt img{width:200px; height:160px; margin:20px;}
.product dl dd{text-align:center; font-size:18px;}
.product dl:hover{box-shadow: 2px 0px 12px 0px #f1f1f1;}
.producbut{height:100px; clear:both;}
.producbut span{width:32px; background:#2f5dc3; color:white; text-align:center; line-height:30px; font-size:16px;}


/*-------内容--------*/
.colldl{margin-top:30px;}
.collaborate dl dt{float:left; margin:10px 20px 0 0;}
.collaborate dl h5{font-size:18px; color:#264ea7;}
.collaborate dl dd{ margin-top:8px;}
.collaborate dl span{width:80px; line-height:25px; border:1px solid #ccc; color:#ccc; text-align:center; cursor:pointer;}
.collaborate dl span:hover{background:#2f5dc3; color:white;}


/*-------联系我们--------*/
.relation p{ font-size:20px; margin-top:30px;}
.relation ul{}
.relation ul li{line-height:25px;}
.relation img{margin-top:40px;}


/*----新闻中心---*/
.journalism{padding-top:30px;}
.journalism dl dt{float:left; margin-right:20px;}
.journalism dl img{width:170px;}
.journalism p{color:#242527; font-size:18px;}
.journalism dl dd:nth-child(3){color:#959595; margin-bottom:6px;}
.journalism dl i{color:#959595; font-size:14px;}
.journalism dl a{color:#264ea7; text-decoration:none; display:inline-block; margin-top:7px;}

/*合作伙伴*/

.teamwork{margin:30px 0 560px 0;}
.teamwork a{border:1px solid #f5f5f5; width:300px;height:141px; text-align:center;overflow: hidden;position: relative}
.teamwork a:hover{box-shadow: 3px 0px 12px 0px #f1f1f1;}
.teamwork a img{transition: top  1s;position: relative; top:50px;
-moz-transition: top 1s;	/* Firefox 4 */
-webkit-transition: top 1s;	/* Safari 和 Chrome */
-o-transition: top 1s;	/* Opera */
}
.teamwork a img:hover{top: -100px}
/*内页*/
.pages{border-bottom:1px dashed #d6d6d6; padding:0 0 20px; margin:0 45px;}
.pages p{font-size:20px;}
.pages h6{color:#4d4d4d; font-size:14px;}
.pascenten{padding:40px 60px;}
.pascenten span{line-height:27px; padding:0 12px;}
.pascenten p{text-align:center; padding:10px;}
.pascenten p img{width:1000px; height:500px;}
.pabottom{height:100px; padding:0 50px;}
.pabottom p{line-height:20px;}


/*--案例---*/
.case{border-bottom:1px dashed #d6d6d6; padding:0 0 25px; margin:0 45px;}
.case p{font-size:18px;}
.casecenten{padding:40px 50px;}
.casecenten dl{color:#444;}
.casecenten dl dt{font-size:16px;}
.casecenten dl dd{line-height:30px;}
.casecenten img{width:300px;}

/*--详情---*/
.particulars p{font-size:18px; color:#333; margin:10px 5px;}
.pacenten{box-shadow:0px 0px 10px 1px #e9e9e9; padding:40px 0;position: relative}
.pacenten .centimg{height:240px; border:1px solid #f5f5f5; text-align:center; margin-left:50px; padding:14px 0;}
.centimg img{width:280px; height:200px;}
.pacenten dl{padding:10px 30px;}
.pacenten dl dt{font-size:28px; color:#2f5dc3; border-bottom:1px solid #ddd; margin-bottom:20px; font-weight:normal;}
.pacenten dl dd{line-height:26px;}
.pacenten dl dd a{width:142px; line-height:42px; display:inline-block; font-size:20px;
background:#2f5dc3; color:white; text-align:center; text-decoration:none; margin-top:20px;}
.pacenten dl dd img{width:25px; margin-right:5px;}
/*---轮播---*/
.centwo{margin:15px 0 0 50px; cursor:pointer; border:1px solid #dddddd; height:60px; text-align:center;
    overflow: hidden;position: relative;padding-top: 3px;}
.scrollable_demo{white-space: nowrap;width: 100px;position: absolute;}
.centwo a{ display: inline-block;border:1px solid #fff; height:58px; width:78px;}
.centwo a img{width:70px; height:50px;}
.backBt,.nextBt{position: absolute;width: 25px;height:30px;top:-5px;font-size: 30px;color:#000000;z-index: 999;
   border-radius: 15px}
.backBt:hover,.nextBt:hover{color: #fff;background: #666;}
.centwo .backBt{left: 3px;}
.centwo .nextBt{right: 3px;}
#bigImg{position: absolute;display:none;background-color: #ddd;
    border: 3px solid #777; z-index: 999999;}
#bigImg img{width: 100%;height: 100%}

.parameter p{border-bottom:1px solid #ddd; clear:both; font-size:16px; margin-bottom:20px;}
.parameter p a{width:120px; line-height:48px; display:inline-block; text-align:center; color:#333;
    text-decoration:none;}
.parameter p a:hover{color:#2f5dc3; background:url(../img/parameter.png) left 38px no-repeat;}

.parameter table{border:none; margin-bottom:180px;}
.parameter table tr th{width:200px; background:#fafafa; text-align:center; font-size:16px; border-bottom:#e6e6e6 1px solid;}
.parameter table tr td{border: 1px solid #ddd;  border-left:none; text-align:center;}
.parameter table tr:first-of-type td{text-align:left;}

/* 其它 */
#competitive dl,#newest dl{float: none;}
#newest dl{width: 800px;border: 10px solid #2f5dc3;position: relative;padding-left: 20px;padding-bottom: 10px;border-radius: 10px;transition-duration: 1s;}
#newest dl:hover{transform:rotateZ(360deg);
-webkit-transform:rotateZ(360deg);
-moz-transform:rotateZ(360deg); }
#newest img{width: 2rem;height: 2rem;border-radius: 5px;position:absolute;right: 0;top: 0;margin-top: 0}
.italic{
    font-style: italic;
}
#customization dl{
    width: 80%;
}
#customization dl:hover {
  width: 100%;
}
#we img{
    height: 3.2rem;
    
}
#technology img{
    width: 6rem;
    height: 3rem;
}
#CareersJoin .w1200 p{
    font-size: .3rem;
    margin-top: .3rem;
    text-align: center;
}
#relation img{
    width: 100%;
    height: 3rem;
}
/* 公共 */
.ui-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.ui-flex, .ui-flex, .ui-flex :after, .ui-flex :before {
    box-sizing: border-box
}

.ui-flex.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
.ui-flex.center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}
